.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #D7DDE9;
    margin: 10px 4rem; 
}

.header h1 {
    font-size: 24px;
    color: #0000008A;
}